{
  "singleQuote": false,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "importOrder": ["^~/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderCaseInsensitive": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrderParserPlugins": ["importAssertions", "typescript", "jsx"]
}
